@media only screen and (max-width: 400px) {

}

*{
    padding: 0px;
    margin: 0 auto;
    
}
#stopBtn{
    display: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    width: 100%;
    height: 600px;

    background-color: blanchedalmond;
}
#screen{
    text-align: center;
    
    display: block;
    
    font-size: 140px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#buttons_wrapper{
    text-align: center;
}
#screen, #buttons_wrapper{
    margin-top: 200px;
}
p{
    color:cadetblue;
    text-shadow: 3px 5px rgb(19, 43, 6);
    width: 145px;
}
.dividers{
    display: inline-block;
}
.timer_displayers{
    display: inline-block;
}

#startBtn, #stopBtn, #resetBtn, #lapBtn{
    width: 250px;
    height: 100px;
    font-size: xx-large;

    color:#7bc27b;
    border-color: #587ab9;
    border-radius: 9px;
    background-color: cornflowerblue;

    text-shadow: 2px 2px #1d1c1c;
    
}
#startBtn:hover, #stopBtn:hover, #resetBtn:hover, #lapBtn:hover{
    width: 250px;
    height: 100px;
    font-size: xx-large;

    color:#c7e9b3;
    border-color: #587ab9;
    border-radius: 9px;
    background-color: #89a8e2;

    text-shadow: 2px 3px #1d1c1c;
    box-shadow: 2px 2px #5399c7;
    
}
#resetBtn, #lapBtn{
    margin-left: 250px;    
}