@media only screen and (max-width: 420px) {
    *{
        padding: 0px;
        margin: 0 auto;
    }
    
    /*
    Single buttons
    */
    body{
        background-color:coral;
    }
    #stopBtn{
        display: none;
    }
    
    /*
    Single Buttons end
    */
    
    #wrapper{
    
    }
    #screen{
        
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
    
        margin-top: 50px;
        margin-left: 8%;
    
    
        position: absolute;
    }
    .timer_displayers{
        display: inline-block;
    }
    
    #buttons_wrapper{
        width: 98%;
        top: 80%;
        margin-left: 2%;
        position:absolute;
    }
    
    .buttons_f{
        width: 30%;
        height: 100px;
    
        display:inline-block;
    
        background-color:wheat;
    
    
        font-size: 20px;
    
        text-shadow: 1px 1px #73a750;
        box-shadow: 2px 2px #73a750;
        border-radius: 12px;
    
    }
    .buttons_f:active{
        width: 30%;
        height: 100px;
    
        display:inline-block;
    
        background-color:rgb(172, 64, 22);
    
    
        font-size: 22px;
    
        text-shadow: 1px 1px #7ca163;
        box-shadow: 2px 2px #7ea167;
        border-radius: 12px;
    
    }
}

/*
.buttons_f:hover{
    width: 30%;
    height: 100px;

    display:inline-block;

    background-color:rgb(202, 171, 112);


    font-size: 22px;

    text-shadow: 1px 1px #7ca163;
    box-shadow: 2px 2px #7ea167;
    border-radius: 12px;

}*/